In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Source/source_drug_deaths.csv')
df2 = pd.read_csv('Source/source_sightings.csv')
ufo_data = pd.read_csv('ufo_data.csv')

C:\Users\david\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
ufo_data

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8831,-97.9411
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.3842,-98.5811
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.9167
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783,-96.6458
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4181,-157.8036
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.7844
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.2025
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.2844
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.2656
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.4778

In [5]:
ufo_data.nunique()

datetime                69586
city                    19900
state                      67
country                     5
shape                      29
duration (seconds)        705
duration (hours/min)     8304
comments                79997
date posted               317
latitude                22757
longitude               19192
dtype: int64

In [ ]:
ufo_data.drop_duplicates(subset='datetime', keep='first', inplace=True)

In [4]:
df1.Indicator.value_counts()

Percent with drugs specified                                                   3286
Number of Deaths                                                               3286
Number of Drug Overdose Deaths                                                 3286
Psychostimulants with abuse potential (T43.6)                                  2542
Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)               2542
Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)    2542
Opioids (T40.0-T40.4,T40.6)                                                    2542
Methadone (T40.3)                                                              2542
Synthetic opioids, excl. methadone (T40.4)                                     2542
Heroin (T40.1)                                                                 2542
Natural & semi-synthetic opioids (T40.2)                                       2542
Cocaine (T40.5)                                                                2542
Name: Indicator, dtype: int64

In [5]:
ods = df1[df1.Indicator == 'Number of Drug Overdose Deaths']
ods

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
8,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126
21,AK,2015,August,12 month-ending,Number of Drug Overdose Deaths,124,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,124
34,AK,2015,December,12 month-ending,Number of Drug Overdose Deaths,121,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,121
36,AK,2015,February,12 month-ending,Number of Drug Overdose Deaths,127,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,127
52,AK,2015,January,12 month-ending,Number of Drug Overdose Deaths,126,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126
...,...,...,...,...,...,...,...,...,...,...,...,...
32678,YC,2019,November,12 month-ending,Number of Drug Overdose Deaths,"1,514",100,0.055187,New York City,Underreported due to incomplete data.,*,"1,517"
32690,YC,2019,October,12 month-ending,Number of Drug Overdose Deaths,"1,487",100,0.058837,New York City,Underreported due to incomplete data.,*,"1,494"
32700,YC,2019,September,12 month-ending,Number of Drug Overdose Deaths,"1,457",100,0.055097,New York City,Underreported due to incomplete data.,*,"1,462"
32717,YC,2020,February,12 month-ending,Number of Drug Overdose Deaths,"1,543",100,0.396267,New York City,Underreported due to incomplete data.,*,"1,609"
32727,YC,2020,January,12 month-ending,Number of Drug Overdose Deaths,"1,558",100,0.186803,New York City,Underreported due to incomplete data.,*,"1,578"

In [6]:
state_drug_deaths = ods[(ods.Year==2019) & (ods.Month=='January')].reset_index(drop=True)
state_drug_deaths['Data Value'] = state_drug_deaths['Data Value'].str.replace(',', '')
state_drug_deaths = state_drug_deaths.astype({'Data Value': 'int64'})
state_drug_deaths.dtypes

State                             object
Year                               int64
Month                             object
Period                            object
Indicator                         object
Data Value                         int64
Percent Complete                  object
Percent Pending Investigation    float64
State Name                        object
Footnote                          object
Footnote Symbol                   object
Predicted Value                   object
dtype: object

In [7]:
state_drug_deaths = state_drug_deaths[['State Name','Data Value']].groupby('State Name')['Data Value'].sum()
state_drug_deaths

State Name
Alabama                   724
Alaska                    107
Arizona                  1725
Arkansas                  439
California               5515
Colorado                  992
Connecticut              1087
Delaware                  403
District of Columbia      300
Florida                  4921
Georgia                  1384
Hawaii                    223
Idaho                     249
Illinois                 2687
Indiana                  1591
Iowa                      278
Kansas                    348
Kentucky                 1339
Louisiana                1162
Maine                     324
Maryland                 2392
Massachusetts            2212
Michigan                 2513
Minnesota                 665
Mississippi               288
Missouri                 1664
Montana                   120
Nebraska                  147
Nevada                    752
New Hampshire             446
New Jersey               2819
New Mexico                513
New York                 2144
New York City            1456
North Carolina           2225
North Dakota               63
Ohio                     4036
Oklahoma                  675
Oregon                    547
Pennsylvania             4403
Rhode Island              344
South Carolina           1116
South Dakota               56
Tennessee                1881
Texas                    2968
United States           67697
Utah                      634
Vermont                   147
Virginia                 1464
Washington               1181
West Virginia             887
Wisconsin                1081
Wyoming                    60
Name: Data Value, dtype: int64

In [8]:
state_stats = pd.merge(state_drug_deaths, df2, on="State Name")
state_stats.rename(columns={'Data Value': 'Drug Deaths', 'Duration': 'AvgSightingDuration', 'State': 'State Abbreviation'}, inplace=True)
state_stats.to_csv('state_stats.csv', index=None)
state_stats

,State Name,Drug Deaths,State Abbreviation,Sightings,AvgSightingDuration,State Codes,State Census Area
0,Alabama,724,al,691,1393.408828,1,50645.326
1,Alaska,107,ak,354,4231.830508,2,570640.950
2,Arizona,1725,az,2689,5949.009338,4,113594.084
3,Arkansas,439,ar,666,100867.138900,5,52035.477
4,California,5515,ca,9655,3928.781072,6,155779.220
5,Colorado,992,co,1505,3024.394751,8,103641.888
6,Connecticut,1087,ct,968,13089.214930,9,4842.355
7,Delaware,403,de,183,868.904372,10,1948.543
8,District of Columbia,300,dc,99,1161.224545,11,61.048
9,Florida,4921,fl,4200,13504.459260,12,53624.759
10,Georgia,1384,ga,1347,7968.701633,13,57513.485
11,Hawaii,223,hi,353,19267.543910,15,6422.628
12,Idaho,249,id,554,968.556498,16,82643.117
13,Illinois,2687,il,2645,877.362219,17,55518.930
14,Indiana,1591,in,1386,3094.797763,18,35826.109
15,Iowa,278,ia,707,949.626591,19,55857.130
16,Kansas,348,ks,653,1514.714395,20,81758.717
17,Kentucky,1339,ky,914,4205.386761,21,39486.338
18,Louisiana,1162,la,598,11481.575250,22,43203.905
19,Maine,324,me,633,3066.431122,23,30842.923
20,Maryland,2392,md,911,833.780790,24,9707.241
21,Massachusetts,2212,ma,1358,1312.187776,25,7800.058
22,Michigan,2513,mi,2071,3885.088653,26,56538.901
23,Minnesota,665,mn,1081,1411.120564,27,79626.743
24,Mississippi,288,ms,415,8784.190361,28,46923.274
25,Missouri,1664,mo,1576,1144.388198,29,68741.522
26,Montana,120,mt,510,2148.723529,30,145545.801
27,Nebraska,147,ne,405,1063.565432,31,76824.171
28,Nevada,752,nv,905,2926.016519,32,109781.180
29,New Hampshire,446,nh,535,2141.602804,33,8952.651
30,New Jersey,2819,nj,1512,5299.992341,34,7354.220
31,New Mexico,513,nm,815,5185.816675,35,121298.148
32,New York,2144,ny,3219,2914.711572,36,47126.399
33,North Carolina,2225,nc,1869,1281.831648,37,48617.905
34,North Dakota,63,nd,138,1105.405797,38,69000.798
35,Ohio,4036,oh,2425,1576.187773,39,40860.694
36,Oklahoma,675,ok,766,14929.384200,40,68594.921
37,Oregon,547,or,1845,1064.210450,41,95988.013
38,Pennsylvania,4403,pa,2582,3990.113091,42,44742.703
39,Rhode Island,344,ri,290,1811.881034,44,1033.814
40,South Carolina,1116,sc,1076,1102.498885,45,30060.696
41,South Dakota,56,sd,196,2608.640306,46,75811.000
42,Tennessee,1881,tn,1193,1610.461526,47,41234.896
43,Texas,2968,tx,3677,2371.343283,48,261231.711
44,Utah,634,ut,743,4739.033647,49,82169.620
45,Vermont,147,vt,307,1077.587948,50,9216.657
46,Virginia,1464,va,1393,9862.555276,51,39490.086
47,Washington,1181,wa,4268,13545.595630,53,66455.521
48,West Virginia,887,wv,486,6239.355967,54,24038.210
49,Wisconsin,1081,wi,1333,2047.964966,55,54157.805
50,Wyoming,60,wy,205,1841.629273,56,97093.141

In [9]:
ufo_data.rename(columns={'state': 'State Abbreviation'}, inplace=True)

state_data_full = pd.merge(state_stats, ufo_data, on='State Abbreviation')

state_data_full.to_csv('state_data_full.csv', index=None)

state_data_full.rename(columns={'Sightings': 'State Sightings'}, inplace=True)

state_data_full

,State Name,Drug Deaths,State Abbreviation,State Sightings,AvgSightingDuration,State Codes,State Census Area,datetime,city,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,Alabama,724,al,691,1393.408828,1,50645.326,10/10/1966 20:00,pell city,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861,-86.2861
1,Alabama,724,al,691,1393.408828,1,50645.326,10/10/2012 20:00,moundville,us,changing,240,4 minutes,Orange fiery lighting objects changing locations.,10/30/2012,32.9975,-87.6300
2,Alabama,724,al,691,1393.408828,1,50645.326,10/11/1999 0:15,montgomery,us,light,180,3 minutes,Bright light coming from back yard and a surre...,3/21/2003,32.3667,-86.3000
3,Alabama,724,al,691,1393.408828,1,50645.326,10/11/2005 19:45,mobile,us,light,1800,30 minutes?,((NUFORC Note: Possible sighting of Mars. PD...,10/20/2005,30.6942,-88.0431
4,Alabama,724,al,691,1393.408828,1,50645.326,10/11/2007 20:30,gulf shores,us,disk,1800,30 min.,Brightly lighted Object appeared total of 6-8 ...,11/28/2007,30.2458,-87.7008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70900,Wyoming,60,wy,205,1841.629273,56,97093.141,9/4/1998 15:00,cheyenne,us,cigar,60,1 minute,Saw two silver objects flying over Cheyenne. P...,11/19/1998,41.14,-104.8197
70901,Wyoming,60,wy,205,1841.629273,56,97093.141,9/5/1998 22:30,medicine bow natl. forest (40 mi. w of laramie),NaN,triangle,25,25 seconds,Large Triangular Craft moving North of Laramie...,11/1/1998,41.4995,-106.2993
70902,Wyoming,60,wy,205,1841.629273,56,97093.141,9/6/2002 20:30,gillette,us,fireball,5,5 seconds,Neon green flying object seen over Gillette&#4...,9/13/2002,44.2911,-105.5017
70903,Wyoming,60,wy,205,1841.629273,56,97093.141,9/6/2002 21:00,baggs,us,oval,60,1 minute,blue florecent oval with a red long tail&#44sa...,9/19/2002,41.0358,-107.6569
70904,Wyoming,60,wy,205,1841.629273,56,97093.141,9/6/2002 21:00,sheridan,us,oval,20,20 seconds,blue-green bright oval was spotted 20 miles so...,9/13/2002,44.7972,-106.9556