In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('ufo_data.csv')

C:\Users\david\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8831,-97.9411
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.3842,-98.5811
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.9167
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783,-96.6458
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4181,-157.8036
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.7844
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.2025
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.2844
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.2656
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.4778

In [23]:
df.info

<bound method DataFrame.info of                datetime                  city state country     shape  \
0      10/10/1949 20:30            san marcos    tx      us  cylinder
1      10/10/1949 21:00          lackland afb    tx     NaN     light
2      10/10/1955 17:00  chester (uk/england)   NaN      gb    circle
3      10/10/1956 21:00                  edna    tx      us    circle
4      10/10/1960 20:00               kaneohe    hi      us     light
...                 ...                   ...   ...     ...       ...
80327    9/9/2013 21:15             nashville    tn      us     light
80328    9/9/2013 22:00                 boise    id      us    circle
80329    9/9/2013 22:00                  napa    ca      us     other
80330    9/9/2013 22:20                vienna    va      us    circle
80331    9/9/2013 23:00                edmond    ok      us     cigar

      duration (seconds) duration (hours/min)  \
0                   2700           45 minutes
1                   7200              1-2 hrs
2                     20           20 seconds
3                     20             1/2 hour
4                    900           15 minutes
...                  ...                  ...
80327                600           10 minutes
80328               1200           20 minutes
80329               1200                 hour
80330                  5            5 seconds
80331               1020           17 minutes

                                                comments date posted latitude  \
0      This event took place in early fall around 194...   4/27/2004  29.8831
1      1949 Lackland AFB&#44 TX.  Lights racing acros...  12/16/2005  29.3842
2      Green/Orange circular disc over Chester&#44 En...   1/21/2008     53.2
3      My older brother and twin sister were leaving ...   1/17/2004  28.9783
4      AS a Marine 1st Lt. flying an FJ4B fighter/att...   1/22/2004  21.4181
...                                                  ...         ...      ...
80327  Round from the distance/slowly changing colors...   9/30/2013  36.1658
80328  Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...   9/30/2013  43.6136
80329                                       Napa UFO&#44   9/30/2013  38.2972
80330  Saw a five gold lit cicular craft moving fastl...   9/30/2013  38.9011
80331  2 witnesses 2  miles apart&#44 Red &amp; White...   9/30/2013  35.6528

       longitude
0       -97.9411
1       -98.5811
2        -2.9167
3       -96.6458
4      -157.8036
...          ...
80327   -86.7844
80328  -116.2025
80329  -122.2844
80330   -77.2656
80331   -97.4778

[80332 rows x 11 columns]>

In [24]:
df.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude               float64
dtype: object

In [25]:
df['longitude']

0        -97.9411
1        -98.5811
2         -2.9167
3        -96.6458
4       -157.8036
           ...
80327    -86.7844
80328   -116.2025
80329   -122.2844
80330    -77.2656
80331    -97.4778
Name: longitude, Length: 80332, dtype: float64

In [26]:
df.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude'],
      dtype='object')